<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'
	xmlns:th='http://www.thymeleaf.org'>
<head>
<title>Checkout</title>
<style>
body {
	font-family: 'arial';
}

#checkout-form input, #checkout-form button {
	display: block;
	margin: 12px;
}
</style>
</head>
<body>
	<form action='/charge' method='POST' id='checkout-form'>
		<input type='hidden' th:value='${amount}' name='amount' />

		<table border="1">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${products}">
					<td><span th:text="${product.name}"></span></td>
					<td><span th:text="${product.unitPrice}"></span></td>
					<td><span th:text="${product.quantity}"></span></td>
				</tr>
			</tbody>
		</table>

		<br /> <label>Total Amount:<span th:text='${amount/100}' /></label>


		<!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
		<script src='https://checkout.stripe.com/checkout.js'
			class='stripe-button'
			th:attr='data-key=${stripePublicKey},
                         data-amount=${amount},
                         data-currency=${currency}'
			data-name='Insignis' data-description='Insignis checkout'
			data-locale='auto' data-zip-code='false'>
			
		</script>
	</form>
</body>
</html>